{% extends "layout.html" %}
{% block content %}
        <div class='center'>
            <br>
            <br>
            <br>
            <span class='size-xl'>Delete Account</span>
            <br>
            <br>
            <form>
                <center>
                <table>
                    <tr>
                        <td>{{ form.Account_ID.label }}<span class='red'>*</span></td>
                        <td>{{ form.Account_ID }}
                            {% for error in form.Account_ID.errors %}
                             <span class="error-message">{{ error }}</span>
                            {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>{{ form.ACC_Type.label }}<span class='red'>*</span></td>
                        <td>{{ form.ACC_Type }}
                            {% for error in form.ACC_Type.errors %}
                             <span class="error-message">{{ error }}</span>
                            {% endfor %}</td>
                    </tr>
                </table>
                <span class='red'>(*)Fields are mandatory</span>
                <br>
                <br>
                {{ form.submit(class_="yellowTxt blackButton") }}
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                </center>
            </form>
        </div>
{% endblock %}