{% extend "layout.html" %}
{% block content %}
        <div class='center'>
            <br>
            <br>
            <br>
            <span class='size-xl'>Deposit Money</span>
            <br>
            <br>
            <form>
                <center>
                <table>
                    <tr>
                        <td>Customer ID</td>
                        <td>123456</td>
                    </tr>
                    <tr>
                        <td>Account ID</td>
                        <td>123456</td>
                    </tr>
                    <tr>
                        <td>Account Type</td>
                        <td>Savings</td>
                    </tr>
                    <tr>
                        <td>Balance</td>
                        <td>900000</td>
                    </tr>
                    <tr>
                        <td>Deposit Amount</td>
                        <td><input type="text" name="Amount"></td>
                    </tr>
                </table>
                <span class='red'>(*)Fields are mandatory</span>
                <br>
                <br>
                <button type="Submit" class="yellowTxt blackButton">Submit</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                </center>
            </form>
        </div>
{% endblock %}