<html>
    <head>
        <title>FedChoice Bank</title>
        <link rel="stylesheet" type="text/css" href="static\css\style.css">
    </head>
    <body id="grad">
        <div class='blackRegion'>
            <span class="yellowTxt size-xxl">FedChoice</span> <span class="whiteTxt size-xxl">Bank</span>
            <br>
            <br>
            <nav class='yellowRegion size-l'>
                <a href="{{ url_for('index') }}" class="{% if home %}active{% endif %}">Home</a>
                <a href="{{ url_for('index') }}" class="{% if custMng %}active{% endif %}">Customer Management &#9660; </a>
                <a href="{{ url_for('index') }}" class="{% if accMng %}active{% endif %}">Account Management &#9660;</a>
                <a href="{{ url_for('index') }}" class="{% if stDet %}active{% endif %}">Status Details &#9660;</a>
                <a href="{{ url_for('index') }}" class="{% if accOps %}active{% endif %}">Account Operations &#9660;</a>
                <a href="{{ url_for('index') }}">Logout</a>
            </nav>
        </div>
        {% block content %}

        {% endblock %}

        <div class='sparse blackRegion yellowBorder yellowTxt size-xl'>
            <a href="{{ url_for('index') }}">About Us</a>
            <a href="{{ url_for('index') }}">Services</a>
            <a href="{{ url_for('index') }}">Contact Us</a>
            <br>
        </div>
    </body>
</html>        