<html>
    <head>
        <title>FedChoice Bank</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body style="background-color: rgb(236, 234, 234);">
        <style>
            .box{
                margin: 5% 35%;
                background-color: white;
            }
            .head{
                padding:15pt 7pt; 
                background-color: black;
                color: white;
                font-size: xx-large;
            }
            .input{
                border: 2pt solid black;

            }
            button{
                background-color: white;
                padding: 3pt 10pt;
            }
        </style>
        <div class="box">
            <div class="head">
                Login
            </div>
            <center>
            <div class="input">
                <form>
                    <br>
                    <br>
                    <br>
                    <input type="text" placeholder="UserName" name="UserName">
                    <br>
                    <br>
                    <input type="password" placeholder="Password" name="Password">
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="Submit">Login</button>
                    <br>
                </form>
            </div>
            </center>
        </div>
    </body>