{% extend "layout.html" %}
{% block content %}
        <div class='center'>
            <br>
            <br>
            <br>
            <span class='size-xl'>Create Customer Screen</span>
            <br>
            <br>
            <form>
                <center>
                <table>
                    <tr>
                        <td>Customer SSN Id<span class='red'>*</span></td>
                        <td><input type="text" Name="SSN"></td>
                    </tr>
                    <tr>
                        <td>Customer Name<span class='red'>*</span></td>
                        <td><input type="text" Name="Name"></td>
                    </tr>
                    <tr>
                        <td>Customer Age<span class='red'>*</span></td>
                        <td><input type="text" Name="Age"></td>
                    </tr>
                    <tr>
                        <td>Address<span class='red'>*</span></td>
                        <td><input type="text" Name="Address"></td>
                    </tr>
                    <tr>
                        <td>State<span class='red'>*</span></td>
                        <td>
                            <select name="state" id="State">
                                <option value="select">select</option>
                                <option value="New York">New York</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Vermont">Vermont</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>City<span class='red'>*</span></td>
                        <td>
                            <select name="city" id="city">
                                <option value="select">select</option>
                                <option value="New York">New York</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Vermont">Vermont</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <span class='red'>(*)Fields are mandatory</span>
                <br>
                <br>
                <button type="Submit" class="yellowTxt blackButton">Submit</button>
                <button type="Reset" class="yellowTxt blackButton">Submit</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                </center>
            </form>
        </div>
{% endblock %}